.header {
  width: 350px;
  padding-left: 32px;
  padding-top: 32px;
  margin-right: 32px;
  // background-color: #f8f9fa;
  h1 {
    margin-bottom: 32px;
  }
}

.header {
  .nav-item {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
    .nav-link {
      padding-top: 0;
      padding-bottom: 0;
      color: #212529;
      font-weight: 900;
    }
    // display: inline-block;
  }
}

.nav-admin {
  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 16px;
    margin-top: 4px;
  }
  p {
    font-size: 16px;
    margin-bottom: 0;
    font-weight: bold;
  }
  span {
    font-size: 14px;
    color: gray;
  }
}

.navGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 800px;
}

.nav-link.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 32px;
  border-left: 4px solid #198754;
}
