.gray-600 {
  color: #6c757d;
}

.fileDownload {
  background-color: #ced4da;
  color: #212529;
  width: 170px;
}

.d-none {
  display: none;
}

.container {
  margin-left: 32px;
  margin-right: 32px;
  padding: 0;
}
